* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Formular Regular";
    src: url(Assets/Katacult/fonts/Formular.woff2);
}

@font-face {
    font-family: "Formular Bold";
    src: url(Assets/Katacult/fonts/Formular-Bold.woff2);
}


h1{
    font-family: "Formular Bold";
    font-variant-numeric: oldstyle-nums;
    color: #FF5500;
}

h2{
    font-family: "Formular Bold";
    font-variant-numeric: oldstyle-nums;
    color: #FF5500;
    
}

h3{
    font-family: "Formular Bold";
    font-variant-numeric: oldstyle-nums;
    color: black;
    font-size: 60px;
    margin-block-start: 2px;
    margin-block-end: 2px;
}

.par-orange {
    color: #FF5500;
}

.par-white {
    color : white ;
}

p {
    font-family: "Formular Regular";
    font-variant-numeric: oldstyle-nums;
    size: 29px;
    margin-block-start: 2px;
    margin-block-end: 2px;
}

body {
    margin: 0 auto;
    
}


.row-black {
    display: flex;
    justify-content: space-between;
    min-height: 1080px;
    flex-wrap: wrap;
    margin: 0 -2x;
    background: #010201;
}



.row-white {
    display: flex;
    justify-content: space-between;
    min-height: 1080px;
    flex-wrap: wrap;
    margin: 0 -2px;
    background: #F5F5F5;;
}

.row-menu {
    margin: 2 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2x;
    background: #010201;
    
}


.box {
    display: flex;
    border: grey solid 1px;

}

.box-menu {
    display: flex;
    padding: 8px;
    border: grey solid 1px;
    
}


.row + .row {
    margin-top: 0px;
}

.col {
    padding: 0 4px;
}

.col + .col{
    margin-top: 0px;
}


.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
    
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

img {

    width: 100%;
  
  }

.menu {
    width: 20%;
    height: 20%;
}