*,
*::after,
*::before {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

@media (max-width: 1024px) {

    iframe{
        min-height: 70rem;
    }

    html{
        font-size: 4px;
    }

    .grid {
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
    }

    



    .col {
        display: flex;
        border: grey solid 0rem;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        
    }

    .logo {
        background:url('../Katacult/katacult_logo-small.svg') no-repeat left;
        margin-left: 2%;
        width: 20%;
    }
    

    #navigation-m {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        background-color: #010201;
        position: fixed;
        width: 100%;
        transition: top 0.3s;
        top: 0;
    
      }
      
    .navigation-m a {
        color: #FF5500;
        text-decoration: none;
        font-size: 4.5rem;
        transition: color 0.2s, 0.3s ease;
        font-weight: 800;
       
      }


    h3{
        font-family: 'Formular Bold';
        font-size: 4.5rem;
        color:  #010201;
        transition: color 0.2s, 0.3s ease;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        letter-spacing: -0.3rem;
    }
    
    h2{
        font-family: 'Formular Bold';
        font-size: 9rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        margin-top: -1.2rem;
        letter-spacing: -0.2rem;
    }
    
    p {
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 3rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
       
    }

    .small-text{
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        padding-top: 0.5rem;
    }

    .upbutton{
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 5rem;
        position: fixed;
        font-weight: bold;
        left: 4rem;    
        z-index: 10;
        transition: bottom 0.3s ease-in;
        -moz-transition: bottom 0.3s ease-in;
        -webkit-transition: bottom 0.3s ease-in;
        -o-transition: bottom 0.3s ease-in;
    }

    figcaption {
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        padding-top: 1rem;
        color: #FF5500;
    }

    .hide-m{
        visibility: hidden;
        display: none;
    }

    a {
        font-family: 'Formular';
        text-decoration: underline;
        text-decoration-color:  #FF5500;;
    }
    
    a figure{
        text-decoration: underline;
        text-decoration-color:  #FF5500;;
    }

    .intro-pic{
        background:url('../images/header-m.svg') no-repeat center;
        background-size: 100%;
        position: relative;
        bottom: 20rem;
    }
    

    


    }

@media (min-width: 1024px) {
    html{
        font-size: calc(10 / 1920 * 100vw);
      
    }

    .intro-pic{
        background:url('../images/header.svg') no-repeat center;
        background-size: 100%;
    }

    .grid {
        display: flex;
        min-height: 100rem;
        padding-left: 1.1%;
        padding-right: 1.1%;
        flex-wrap: wrap;
        padding-top: 12vw;
        padding-bottom: 13vw;
    }

    .wrap{
        flex-wrap: wrap;
    }

    .hide-pc{
        display: none;
    }
    
    .col {
        float: left;
        padding-left: 0;
        padding-right: 0;
        border: grey solid 0rem;
      

    }
    

    .box{
        min-height: 25rem;
    }

  

    .logo {
        background:url('../Katacult/katacult_logo.svg') no-repeat left;
        margin-left: 0.5%;
        background-size: 30rem;
        text-indent:-9999px;
        padding: 1%;
    }


    #navigation {
        display: flex;
        position: fixed;
        width: 100%;
        background-color: #010201;
        transition: all 0.3s ease-out;
        padding-top: 1rem;
        padding-bottom: 1rem;
        top: 3rem;
      }

      #navigation-2 {
        display: flex;
        position: fixed;
        width: 100%;
        background-color: #010201;
        transition: top 0.3 ease-in;
        padding-top: 1rem;
        padding-right: 1.1%;
        top: 0
      }

      #navigation-2 a{
        display: block;
        color: #F5F5F5;
        text-decoration: none;
        font-size: 1.5rem;
        transition: color 0.2s, 0.3s ease;
        padding-bottom: 1rem;
        margin-left: 3rem;
      }

      #navigation-2 a:hover{
 
        color: #FF5500;


      }


      

    h3{
        font-family: 'Formular Bold';
        font-size: 8rem;
        color:  #010201;
        transition: color 0.2s, 0.3s ease;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        margin-top: -1rem;
    }
    
    h2{
        font-family: 'Formular Bold';
        font-size: 18rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        margin-top: -4rem;

    }
    
    p {
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 3.2rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
       
    }
    
    .small-text{
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;

    }

    .upbutton{
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2.5rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        position: fixed;
        right: 4rem; 
        z-index: 10;
        transition: bottom 0.4s ease-in;
        -webkit-transition: bottom 0.4s ease-in;
        -moz-transition: bottom 0.4s ease-in;
        -o-transition: bottom 0.4s ease-in;



    }

    figcaption {
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        padding-top: 1rem;
        color: #FF5500;
        text-align: left;
    }
    
    .img-40 {
        width: 40%;
        overflow: hidden;
    }

    .img-60 {
        width: 60%;
        overflow: hidden;
    }

    .marquee {
        display: flex;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        background: #ff5500;
        text-transform: uppercase;
        color: #010201;
        font-size: 2rem;
        height: 2vh;
        cursor: pointer; 
    
    }
        .marquee:hover {
          color: #010201; 
        
        }
        .marquee-content {
          display: flex;
          align-items: center;
          animation: marquee 15s linear infinite;
        
        }
        .marquee-img {
          width: 20rem;
          display: flex;
          justify-content: center;
          margin: 0.5rem 2rem; 
        
        }

        .albums-header{
            min-height: 30rem !important;
        }
    
        a {
            font-family: 'Formular';
            text-decoration: none;
        }
        
        a figure{
            text-decoration: none;
        }



}


body{
    margin: 0;
}


.bg-black {
    background: #010201;
}

.bg-white {
    background: #F5F5F5;
}


.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
    
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

img {
    width: 100%;
    overflow: hidden;
    transition: all 0.3 ease;

  }


.non-selecteble{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.mask{
    object-fit: cover;
    
}

@font-face {
    font-family: 'Formular';
    font-display: swap;
    src: url("/Katacult_Jazz_History/assets/Katacult/fonts/Formular.otf"); 
}

@font-face {
    font-family: 'Formular Bold';
    src: url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.eot);
    src: url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.woff2)format("woff2"),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.woff)format("woff"),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.otf)format("opentype"),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/formular-bold-webfont.ttf)format('truetype'),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.svg)format('svg');
}

h1{
    font-family: 'Formular Bold';
}

.opacity-50{
    opacity: 50;
}

.reverse{
    flex-direction: row-reverse;
}

.text-orange {
    color: #FF5500;
}

.text-white {
    color: #F5F5F5;
}

.text-black {
    color:  #010201;
}








h3:hover{
    color: #FF5500;
     user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    
}

.no-hover{
        pointer-events: none;
}

figure {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}


figure:hover{
    width: 120%;
    position: center;


}
figure:hover a{
    text-decoration: underline #FF5500;
}


  
  .navigation a:hover {
    color: #F5F5F5;
  }

  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 5rem;
  }

  .reverse {
    flex-direction: column-reverse;
}

figure + figure {
    margin-bottom: 15rem;
    margin-top: 5rem;
}

a .logo{
    display: block;
    width: 1000%;
    width: 100%;
    height: 100%;
}


/* ::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
} */



  .progress-bar {
    z-index: 10;
    height: 100%;
    background: #FF5500;
    width: 0.6rem;
  }
  
  
.period{
    position: relative;
}

.timeline{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 1rem;
    color: #FF5500;
    height: 100%;
    
}

.timeline a {
    font-size: 0.2rem;
}

.progress-container {
    z-index: 10;
    width: 0.3%;
    height: 100%;
    background: #ccc;
    position: fixed;
    top: 0;
    left: 0;
  }

  .no-paddingtop{
      padding-top: 0;
  }

 


  
  @keyframes marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-100%); } }

  
