*,
*::after,
*::before {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@media (max-width: 834px) {

    html{
        font-size: 4px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
     
        min-height: 100rem;
    }
    
    .wrap {
        flex-wrap: wrap;
    }

    .col {
        float: left;
        display: flex;
        padding: 2%;
        border: grey solid 0.1rem;
        flex-direction: column;
        
    }

    .navigation {
        display: flex;
        padding: 15px;
        background-color:white;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: solid #FF5500 0.5rem;
        
      }
      
    .navigation a {
        color: #010201;
        text-decoration: none;
        font-size: 5rem;
        transition: color 0.2s, 0.3s ease;
        font-weight: 800;
      }

    

    .navigation .col-1{
        flex-direction: row-reverse;
        width: 500px;
    }
    .navigation img{
        height: 8rem;
        width: 30rem;

    }

    .box {
        align-content: flex-start;
        padding: 5%;
    }

    h3{
        font-family: 'Formular Bold';
        font-size: 4.5rem;
        color:  #010201;
        transition: color 0.2s, 0.3s ease;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
    }
    
    h2{
        font-family: 'Formular Bold';
        font-size: 9rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
    }
    
    p {
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 3rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
       
    }

    .small-text{
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        padding-top: 0.5rem;
    }
    

    }

@media (min-width: 834px) {
    html{
        font-size: calc(10 / 1920 * 100vw);
    }

    .grid {
        display: flex;
        min-height: 100vh;
        padding-left: 1.1%;
        padding-right: 1.1%;
        flex-wrap: wrap;

    }

    .wrap{
        flex-wrap: wrap;
    }
    
    .col {
        float: left;
        padding: 0;
        border: grey solid 0.1rem;

    }

    .navigation {
        overflow: hidden;
        display: flex;
        position: sticky;
        width: 100%;
        padding: 0.3% 1.1% 0% 1%;
        background-color: #010201;
      }

      
    .navigation a {
        display: block;
        color: #FF5500;
        text-decoration: none;
        font-size: 2rem;
        transition: color 0.2s, 0.3s ease;
      }

     .navigation img{
        max-width: 30rem;
        max-height: 5rem;

    }


    .box {
        
        align-content: flex-start;
    }

    h3{
        font-family: 'Formular Bold';
        font-size: 8rem;
        color:  #010201;
        transition: color 0.2s, 0.3s ease;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
    }
    
    h2{
        font-family: 'Formular Bold';
        font-size: 18rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
    }
    
    p {
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 3.2rem;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
       
    }
    
    .small-text{
        font-family: 'Formular';
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        padding-top: 1.5rem;
    }

}


body{
    margin: 0;
}


.bg-black {
    background: #010201;
}

.bg-white {
    background: #F5F5F5;
}


.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
    
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

img {
    width: 100%;
    overflow: hidden;
  }


.non-selecteble{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.mask{
    object-fit: cover;
    
}

@font-face {
    font-family: 'Formular';
    font-display: swap;
    src: url("/Katacult_Jazz_History/assets/Katacult/fonts/Formular.otf"); 
}

@font-face {
    font-family: 'Formular Bold';
    src: url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.eot);
    src: url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.woff2)format("woff2"),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.woff)format("woff"),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.otf)format("opentype"),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/formular-bold-webfont.ttf)format('truetype'),
    url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.svg)format('svg');
}

h1{
    font-family: 'Formular Bold';
}

.opacity-50{
    opacity: 50;
}

.reverse{
    flex-direction: row-reverse;
}

.text-orange {
    color: #FF5500;
}

.text-white {
    color: white ;
}

.text-black {
    color:  #010201;
}




a {
    font-family: 'Formular';
    text-decoration: none;
}

h3:hover{
    color: #FF5500;
     user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    
}

  
  .navigation a:hover {
    color: white;
  }

  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 5rem;
  }

  .reverse {
    flex-direction: column-reverse;
}


 