*,
*::after,
*::before {
    box-sizing: border-box;
}

header{
    z-index: 5;
}

body{
    margin: 0;
}


.bg-black {
    background: #010201;
}

.bg-white {
    background: #F5F5F5;
}

.grid {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    margin: 0 -4x;
    padding: 1%;
}

.box {
    padding-top: 7%;
    display: flex;
}


.col {
    padding-top: 0.5%;
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
}

.col + .col{
    margin-top: 0px;
}


.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
    
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

img {
    width: 100%;
    overflow: hidden;
  }

html {
    scroll-behavior: smooth;
  }

.non-selecteble{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.mask{
    object-fit: cover;
}
