* {
    box-sizing: border-box;
}

body {
    margin: 2 auto;
    background: #010201;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
    
}

P {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.box {
    padding: 8px;
    border: white solid 1px;

}

.box-reverse {
    padding: 8px;
    border: white solid 1px;
}

.row + .row {
    margin-top: 20px;
}

.col {
    padding: 0 4px;
}

.col-reverse {
    padding: 0 4px;
    outline-width: 1px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
    
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}