@font-face {
    font-family: "Formular Regular";
    src: url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Regular.woff2);
}

@font-face {
    font-family: "Formular Bold";
    src: url(/Katacult_Jazz_History/assets/Katacult/fonts/Formular-Bold.woff2);
}

h1{
    font-family: "Formular Bold";
    font-variant-numeric: oldstyle-nums;
}


h3{
    font-family: "Formular Bold";
    font-variant-numeric: oldstyle-nums;
    font-size: 4.5vw;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

}

h2{
    font-family: "Formular Bold";
    font-variant-numeric: oldstyle-nums;
    font-size: 7vw;
    line-height: 0.9;
    margin-block-start: 3vh;
    margin-block-end: -3vw;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

}

.text-orange {
    color: #FF5500;
}

.text-white {
    color: white ;
}

.text-black {
    color:  #010201
}

p {
    font-family: "Formular Regular";
    font-variant-numeric: oldstyle-nums;
    font-size: 2vw;
   
}

.small-text{
    font-family: "Formular Regular";
    font-variant-numeric: oldstyle-nums;
    font-size: 1vw;
}

a {
    font-family: "Formular Regular";
    font-variant-numeric: oldstyle-nums;
    font-size: 1vw;
    color: #FF5500;
}

h3:hover{
    color: #FF5500;
    transition: color 0.2s ease, 0.3s ease;
}
